[Desktop Entry]
Version=1.0
Name=Arkx
GenericName=Archive Manager
Comment=Fast multi-threaded archive manager (ZIP, 7Z, RAR, TAR.GZ…)
X-AppVersion=1.1.1
Exec=arkx %F
Icon=arkx
Terminal=false
Type=Application
Categories=Utility;Archiving;Compression;GTK;
Keywords=zip;rar;7z;tar;archive;compress;extract;unzip;unrar;peazip;ark;
MimeType=application/zip;application/x-7z-compressed;application/vnd.rar;application/x-rar;application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/x-tarz;application/x-xz-compressed-tar;application/x-lzma-compressed-tar;application/x-lzip-compressed-tar;application/x-tzo;application/x-lrzip-compressed-tar;application/x-lz4-compressed-tar;application/x-zstd-compressed-tar;application/gzip;application/x-bzip;application/x-bzip2;application/x-xz;application/x-lzma;application/x-compress;application/zstd;application/x-lz4;application/x-iso9660-image;application/x-cd-image;application/x-iso9660-appimage;application/vnd.ms-cab-compressed;application/x-bcpio;application/x-cpio;application/x-cpio-compressed;application/x-sv4cpio;application/x-sv4crc;application/x-xar;application/x-archive;application/x-source-rpm;application/x-rpm;application/x-lha;application/x-deb;
StartupNotify=true
StartupWMClass=arkx
SingleMainWindow=true
Actions=ExtractHere;

[Desktop Action ExtractHere]
Name=Extract here
Exec=arkx x %F
